footer{
    width: 100%;
    margin-bottom: 100px;
    .article{
        width: 100%;
        .article_wraper{
            max-width: 1300px;
            width: 100%;
            margin: 0 auto;
            h3{
                font-family: 'Prata';
                font-size: 40px;
                color: #303030; 
                padding: 40px 0;
            }
            .content{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @media(max-width: 610px){
                    justify-content: center;
                }
                .content_wrap{
                    max-width: 310px;
                    overflow: hidden;
                    transition: .5s;
                    &:hover{
                        scale: 1.05;
                    }
                    p{
                        font-family: 'Inter-reg';
                        font-size: 14px;
                        color: #8F8F8F;
                        padding: 20px 0 6px;
                    }:nth-child(3){
                        font-family: 'Inter-med';
                        font-size: 16px;
                        color: #303030;
                        padding: 6px 0 20px;
                    }
                }
            }
        }
    }
}
