.productday {
  width: 100%;
  padding: 100px 0;
}
.productday .productday_wrap {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.productday .productday_wrap h3 {
  font-family: "Prata";
  font-size: 40px;
  color: #303030;
  padding: 30px 0;
}
.productday .productday_wrap .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.productday .productday_wrap .content .content_image span {
  font-family: "Inter-med";
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
  padding: 4px 10px;
  vertical-align: super;
  background-color: #495159;
  border-radius: 15px;
  margin: 0 2px;
}
.productday .productday_wrap .content .content_image :nth-child(2) {
  background-color: #E1A661;
}
.productday .productday_wrap .content .content_image :nth-child(3) {
  background-color: #5B8A8F;
}
.productday .productday_wrap .content .content_text {
  max-width: 575px;
  width: 100%;
}
.productday .productday_wrap .content .content_text .text_info {
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 20px;
}
.productday .productday_wrap .content .content_text .text_info h2 {
  font-family: "Prata";
  font-size: 32px;
  line-height: 100%;
  color: #303030;
  padding: 24px 0 18px;
}
.productday .productday_wrap .content .content_text .text_info p {
  font-family: "Inter-reg";
  font-size: 14px;
  color: #8F8F8F;
  padding: 2px 0;
}
.productday .productday_wrap .content .content_text .text_info .priceTimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 505px;
}
.productday .productday_wrap .content .content_text .text_info .priceTimer .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.productday .productday_wrap .content .content_text .text_info .priceTimer .price p {
  font-family: "Inter-bold";
  font-size: 20px;
  color: #303030;
  padding: 34px 16px 20px 0;
}
.productday .productday_wrap .content .content_text .text_info .priceTimer .price p s {
  font-family: "Inter-reg";
  font-size: 16px;
  color: #8F8F8F;
  padding-left: 15px;
}
.productday .productday_wrap .content .content_text .text_info .priceTimer .price span {
  font-family: "Inter-med";
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
  padding: 4px 8px;
  background-color: #E24B33;
  border-radius: 15px;
  vertical-align: middle;
}
.productday .productday_wrap .content .content_text .text_info .priceTimer .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 210px;
  padding: 12px 14px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.productday .productday_wrap .content .content_text .text_info .priceTimer .timer .time {
  padding: 6px 10px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
}
.productday .productday_wrap .content .content_text .text_info .priceTimer .timer .time p {
  font-family: "Inter-bold";
  font-size: 16px;
  color: #303030;
}
.productday .productday_wrap .content .content_text .text_info .priceTimer .timer .time :nth-child(2) {
  font-family: "Inter-reg";
  font-size: 11px;
  color: #303030;
}
.productday .productday_wrap .content .content_text .interactions {
  padding: 30px 0 0;
}
.productday .productday_wrap .content .content_text .interactions .color p {
  font-family: "Inter-bold";
  font-size: 12px;
  text-transform: uppercase;
  color: #303030;
  margin: 0 0 20px;
}
.productday .productday_wrap .content .content_text .interactions .color span {
  width: 24px;
  height: 24px;
  padding: 4px;
  border: 1px solid #DADADA;
  background-clip: content-box;
  background-color: #D9D9D9;
  border-radius: 100%;
  display: inline-block;
  margin: 0 12px 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.productday .productday_wrap .content .content_text .interactions .color span:hover {
  background-clip: border-box;
}
.productday .productday_wrap .content .content_text .interactions .color :nth-child(2) {
  background-color: #F1CB7E;
}
.productday .productday_wrap .content .content_text .interactions .color :nth-child(3) {
  background-color: #EA8C48;
}
.productday .productday_wrap .content .content_text .interactions .color :nth-child(4) {
  background-color: #A7E492;
}
.productday .productday_wrap .content .content_text .interactions .size p {
  font-family: "Inter-bold";
  font-size: 12px;
  text-transform: uppercase;
  color: #303030;
  margin: 30px 0 20px;
}
.productday .productday_wrap .content .content_text .interactions .size span {
  display: inline-block;
  border: 1px solid #303030;
  padding-top: 9px;
  text-align: center;
  margin-right: 8px;
  width: 50px;
  height: 23px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.productday .productday_wrap .content .content_text .interactions .size span:hover {
  background-color: #303030;
  color: #F0F0F0;
}
.productday .productday_wrap .content .content_text .interactions .pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}
.productday .productday_wrap .content .content_text .interactions .pay .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.productday .productday_wrap .content .content_text .interactions .pay .buttons button {
  font-family: "Inter-med";
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 21px 0;
  width: 400px;
  margin: 5px 0;
  background-color: #303030;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.productday .productday_wrap .content .content_text .interactions .pay .buttons :hover {
  background-color: #505050;
}
.productday .productday_wrap .content .content_text .interactions .pay p {
  font-family: "Inter-reg";
  font-weight: 300;
  font-size: 14px;
  color: #303030;
}
.productday .productday_wrap .content .content_text .interactions .pay .interfer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.productday .productday_wrap .content .content_text .interactions .pay .interfer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.productday .productday_wrap .content .content_text .interactions .pay .interfer .wrap:hover p {
  color: #000000;
}
.productday .productday_wrap .content .content_text .interactions .pay .interfer .wrap:hover img {
  scale: 1.2;
}
.productday .productday_wrap .content .content_text .interactions .pay .interfer .wrap p {
  font-family: "Inter-reg";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #303030;
  margin-left: 10px;
}