
.contact_register {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 10px;
}
.contact_register .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_register .content .content_contact {
  max-width: 361px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px 0 0;
}
@media (max-width: 560px) {
   .contact_register .content .content_contact {
    display: none;
  }
}
.contact_register .content .content_contact a {
  font-family: "Inter-reg";
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
}
@media (max-width: 768px) {
   .contact_register .content .content_contact a {
    padding: 5px 0;
  }
}
.contact_register .content .content_contact img {
  padding-right: 10px;
}
.contact_register .content .content_register {
  max-width: 329px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
   .contact_register .content .content_register {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 560px) {
   .contact_register .content .content_register {
    padding: 0 0 0 10px;
  }
}
.contact_register .content .content_register p,  .contact_register .content .content_register a {
  font-family: "Inter-reg";
  font-size: 14px;
  line-height: 100%;
  color: #303030;
}
@media (max-width: 768px) {
   .contact_register .content .content_register p,  .contact_register .content .content_register a {
    padding: 5px 5px;
  }
}
.contact_register .content .content_register .icons {
  max-width: 116px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 560px) {
   .contact_register .content .logo img {
    max-width: 120px;
  }
}
.navbar {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: #F0F0F0;
  padding: 0 10px;
}
.navbar .content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.navbar nav {
  max-width: 817px;
  width: 100%;
  padding: 24px 10px;
}
@media (max-width: 768px) {
   .navbar nav {
    display: none;
  }
}
.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar nav ul a {
  font-family: "Inter-med";
  font-style: normal;
  font-size: 13px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar nav ul a:hover {
  opacity: 0.5;
}
.navbar .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 10px;
  height: 20px;
}
.navbar .search input {
  border: none;
  padding: 3px;
  margin-left: 5px;
  background-color: #f0f0f0;
}