footer {
  width: 100%;
  margin-bottom: 100px;
}
footer .article {
  width: 100%;
}
footer .article .article_wraper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
footer .article .article_wraper h3 {
  font-family: "Prata";
  font-size: 40px;
  color: #303030;
  padding: 40px 0;
}
footer .article .article_wraper .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 610px) {
  footer .article .article_wraper .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer .article .article_wraper .content .content_wrap {
  max-width: 310px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer .article .article_wraper .content .content_wrap:hover {
  scale: 1.05;
}
footer .article .article_wraper .content .content_wrap p {
  font-family: "Inter-reg";
  font-size: 14px;
  color: #8F8F8F;
  padding: 20px 0 6px;
}
footer .article .article_wraper .content .content_wrap :nth-child(3) {
  font-family: "Inter-med";
  font-size: 16px;
  color: #303030;
  padding: 6px 0 20px;
}